@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.webgl-wrapper {
  touch-action: none;
  user-select: none;

  & > canvas {
    -webkit-tap-highlight-color: transparent;
    touch-action: none;
    user-select: none;
  }
}

.link-wrapper {
  font-family: var(--font-supply-sans);
}

.tp-dfwv {
  width: 350px !important;
}

.tp-tabv_c {
  max-height: 92vh;
  overflow-y: auto !important;
  &::-webkit-scrollbar {
    display: none;
  }
}

.tp-btnCopy {
  position: absolute;
  z-index: 1000;
  right: 26px;
  top: 2px;
  background-color: rgb(35, 35, 35);
  color: rgb(193, 193, 193);
  font-weight: 400;
  font-size: 14px;
  height: var(--cnt-usz);
  width: var(--cnt-usz);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  cursor: pointer;
  border: none;
  border-radius: 2px;

  & .tp-btnCopy-copied {
    display: none;
  }

  & .tp-btnCopy-copy {
    display: block;
  }

  &.copied {
    & .tp-btnCopy-copied {
      display: block;
    }

    & .tp-btnCopy-copy {
      display: none;
    }
  }
}
