@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  overflow: hidden;
  overscroll-behavior-y: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
  touch-action: none;
}

html {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  overscroll-behavior-y: none;
  touch-action: none;
}
